<select class="gensmall" name="note" onchange="bbfontstyle('[note=' + this.options[this.selectedIndex].value + '', '[/note]');this.selectedIndex = 0;" title="{L_BBCODE_NOTE_HELP}" style="height: 21px;">
		<option value="#" selected="selected" style="display: none;">{L_NOTE_BBCODES}</option>
		<option value="blue]{L_NOTE_BBCODE} " class="note-box blue">{L_NOTE_BLUE_EXPLAIN}</option>
		<option value="yellow]{L_NOTE_BBCODE} " class="note-box yellow">{L_NOTE_YELLOW_EXPLAIN}</option>
		<option value="green]{L_NOTE_BBCODE} " class="note-box green">{L_NOTE_GREEN_EXPLAIN}</option>
		<option value="red]{L_NOTE_BBCODE} " class="note-box red">{L_NOTE_RED_EXPLAIN}</option>
</select>
